body {
  margin: auto;
  background-color: #f5ceaa;
  font-family: "Fredoka One", cursive;
}
/* 
#root {
  box-shadow: #000 0px 2px 10px;
} */

/* <-----------------------Info--------------------------------> */

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  line-height: 0;
}
.info h1 {
  color: #127475;
  font-weight: bold;
  margin-bottom: 10px;
}
.info h4 {
  color: #562c2c;
  margin-bottom: 10px;
}
.info--profilepic {
  width: 200px;
  height: 200px;

  border-radius: 50%;
  margin-bottom: 10px;
}

.info > p {
  margin-top: 0;
}
/* <--------------------About-----------------------------------> */

/* .about {
} */
.aboutTitle {
  color: #127475;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

/* <--------------------Interests-----------------------------------> */

.interestsTitle {
  color: #562c2c;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.interests > p {
  margin-bottom: 50px;
}

/* <--------------------Footer-----------------------------------> */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.footerIcons-G {
  font-size: 50px;
  padding: 10px;
  color: #127475;
}
.footerIcons-G:hover {
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.footerIcons-L {
  font-size: 50px;
  padding: 10px;
  color: #127475;
}
.footerIcons-L:hover {
  color: rgb(0, 7, 207);
  cursor: pointer;
}
.footerIcons-P {
  font-size: 50px;
  padding: 10px;
  color: #127475;
}
.footerIcons-P:hover {
  color: rgb(0, 148, 207);
  cursor: pointer;
}
/* <--------------------Other-----------------------------------> */

p {
  padding: 10px;
}
